.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
**/Generated.xcconfig
!ios/Flutter/Generated.xcconfig
*.apk
*.ipa
.DS_Store
